html {
    scroll-behavior: smooth;
}

// wrapper settings
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

// remove repetetive color code for a elements
i {
    color: $primary;
}

.linkContainer a {
    color: $primary;
    background-color: $secondary;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 40px;
}

button,
nav a {
    color: $primary;
}

button,
nav a,
.header a,
.mail {
    border-radius: 40px;
    padding: 12px 36px;
    color: $primary;
}

nav li,
.contact a {
    border-radius: 40px;
    background: $white;
}

header a {
    background-color: $white;
}

li,
button,
header a {
    box-shadow: 6px 6px 20px rgba(102, 125, 138, 0.2);
}

.socialLinks {

    li {
        border-radius: 50%;
        margin: 0 5px;
    }

    a {
        font-size: 1.4rem;
        color: $primary;
        background-color: $white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.2s ease;

        &:hover {
            transform: scale(1.10);
        }

        &:focus {
            transform: scale(1.10);
        }

    }
}