@media (max-width: 1100px) {
    .about .textContainer {
        width: 80%;
        transition: 0.5s ease;


    }

    .skills ul {
        width: 80%;
        transition: 0.5s ease;
        // li {

        // }
    }

    .contact p {
        width: 80%;
        transition: 0.5s ease;
    }
}

@media (max-width: 800px) {

    .wrapper {
        width: 90%;
    }

    .projects {
        ul {
            li {
                width: 100%;
            }
        }
    }
}

@media (max-width: 500px) {

    section {
        margin: 30px 0;
    }
    .about .textContainer {
        width: 90%;
    }

    .skills {
        ul {
            width: 90%;

            li {
                width: 50%;
            }
        }
    }

    .projects {
        .wrapper {
            padding: 10px 10px
        }

        ul li {
            margin: 5px 0;
            padding: 20px;
            img {
                border-radius: 20px;
            }
        }
    }

    .contact p {
        width: 90%;

    }
}