.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    padding: 60px 0px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: row;
}

header {
    background-color: $primary;
}

.about {
    background-color: $white;
}

.skills {
    background-color: $primary;
}

.projects {
    background-color: $whiteShade;

    ul {
        display: flex;
        flex-wrap: wrap;
        
        li {
            background-color: $white;
            padding: 20px;
            width: 50%;
        }
    }
}

.contact {
    background-color: $secondary;
}

footer {
    background-color: $primary;
}