.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;

}

header {
    background-color: $primary;
}

.about {
    background-color: $white;
}

.skills {
    background-color: $primary;
}

.projects {
    background-color: $whiteShade;
}

.contact {
    background-color: $secondary;
}

footer {
    background-color: $primary;
}