.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    padding: 60px 0px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-direction: row;
}

header {
    background-color: $primary;
}

.about {
    background-color: $white;

    .wrapper {
        width: 60%;
    }

}

.skills {
    background-color: $primary;

    .flexContainer {}

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 50%;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25%;
            margin: 10px 0;

            i {
                padding-bottom: 5px;
            }

            transition: 0.2s ease;

            &:hover {
                transform: scale(1.10);
            }

            &:focus {
                transform: scale(1.10);
            }
        }
    }
}

.projects {
    background-color: $whiteShade;

    h2 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        li {
            background-color: $white;
            padding: 20px;
            margin: 15px 0;
            width: 48%;
        }
    }
}

.contact {
    background-color: $secondary;
}

footer {
    background-color: $primary;
}