html {
    font-size: 125%;
}

body {
    color: $blackShade;
}

h1,
h2,
h3,
h4,
a,
.skills li {
    font-family: $heading;
    margin: 0;
}

h2 {
    padding-bottom: 30px;
}

h1,
.skills,
header,
.contact a {
    color: $white;
}


p {
    font-family: $body;
    margin: 0;
    font-size: 0.8rem;
}

h4,
a, .skills li {
    font-size: 0.7rem;
}

.skills i {
    font-size: 3rem;
}