html {
    font-size: 125%;
}

body {
    color: $blackShade;
}

h1,
h2,
h3,
h4 {
    font-family: $heading;
    margin: 0;
}

h1, .skills h2 {
    color: $white;
}


p {
    font-family: $body;
    margin: 0;
}