// Fonts
// $heading: 'Roboto', sans-serif;
// $body: 'Lora', serif;

$heading: 'Forum', cursive;
$body: 'Work Sans', sans-serif;

// Colours
$primary: #365C46;
$secondary: #B6CAA2;
$tertiary: #DB9999;
$quaternary: #F7E4DC;

$blackShade: #14070E;
$whiteShade: #ECEFF2;
//#759C83
//#A8C3CB
//#ECEFF2

$white: #FFF;