// Fonts

// a bit redundant but having a body and heading variable will allow me to easily update the fonts in the future
$heading: 'Cabin', sans-serif;
$body: 'Cabin', sans-serif;

// Colours
$primary: #0A1D2C;
$secondary: #C1D0D9;
$tertiary: #638CA6;
$quaternary: #F7E4DC;

$white: #FFF;

